# Pin mappings for Digilent Basys (original)

# System clock
NET "CLK_50MHZ_IN" LOC = "P54";
NET "CLK_50MHZ_IN" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK_50MHZ_IN" PERIOD = 20000 PS;

# LEDs
NET "LED_OUT<7>" LOC = "P2" ;
NET "LED_OUT<6>" LOC = "P3" ;
NET "LED_OUT<5>" LOC = "P4" ;
NET "LED_OUT<4>" LOC = "P5" ;
NET "LED_OUT<3>" LOC = "P7" ;
NET "LED_OUT<2>" LOC = "P8" ;
NET "LED_OUT<1>" LOC = "P14" ;
NET "LED_OUT<0>" LOC = "P15" ;

# Switches
NET "SWITCH_IN<7>" LOC = "P6";
NET "SWITCH_IN<6>" LOC = "P10";
NET "SWITCH_IN<5>" LOC = "P12";
NET "SWITCH_IN<4>" LOC = "P18";
NET "SWITCH_IN<3>" LOC = "P24";
NET "SWITCH_IN<2>" LOC = "P29";
NET "SWITCH_IN<1>" LOC = "P36";
NET "SWITCH_IN<0>" LOC = "P38";

# Push buttons
NET "BUTTON_IN<3>" LOC = "P41";
NET "BUTTON_IN<2>" LOC = "P47";
NET "BUTTON_IN<1>" LOC = "P48";
NET "BUTTON_IN<0>" LOC = "P69";

# Seven segment display
NET "SEVENSEG_SEG_OUT<6>" LOC = "P25";
NET "SEVENSEG_SEG_OUT<5>" LOC = "P16";
NET "SEVENSEG_SEG_OUT<4>" LOC = "P23";
NET "SEVENSEG_SEG_OUT<3>" LOC = "P21";
NET "SEVENSEG_SEG_OUT<2>" LOC = "P20";
NET "SEVENSEG_SEG_OUT<1>" LOC = "P17";
NET "SEVENSEG_SEG_OUT<0>" LOC = "P83";
NET "SEVENSEG_DP_OUT" LOC = "P22";
NET "SEVENSEG_DIGIT_SEL_OUT<0>" LOC = "P34";
NET "SEVENSEG_DIGIT_SEL_OUT<1>" LOC = "P33";
NET "SEVENSEG_DIGIT_SEL_OUT<2>" LOC = "P32";
NET "SEVENSEG_DIGIT_SEL_OUT<3>" LOC = "P26";
